@import './reset.scss';
@import './variable.scss';
@import './media.scss';
@import './fonts.scss';


* {
    box-sizing: border-box;
}

.wrapper_header {
    width: 300px;
    text-align: center;
    line-height: 1.5;
    padding: 10px;
    height: 100vh;
    background-color: green;
    font-size: 20px;
    position: fixed;
    box-sizing: border-box;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;

    // &::-webkit-scrollbar {
    //             width: 10px;
    //             background-color: green;
    //         }
        
    // &::-webkit-scrollbar-thumb {
    //     background-color: #094d09;
    // }



    @include lg {
        width: 100%;
        height: max-content;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.btn_menu {
    border: 2px solid #fff;
    padding: 20px 5px;
    border-radius: 10px;
}

.mobile_icon {
    display: none;
    

    @include lg {
        align-self: flex-start;
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 32px;
        color: #fff;
        font-family: $robotomedium;
        width: 100%;
        justify-content: space-between;
    }
}

.icon_menu {
    width: 50px;
    height: 5px;
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 5px;

    &::after {
        margin: -15px 0;
        content: " ";
        position: absolute;
        background-color: #fff;
        width: 50px;
        height: 5px;
    }

    &::before {
        margin: 15px 0;
        content: " ";
        position: absolute;
        background-color: #fff;
        width: 50px;
        height: 5px;
    }
}

.cont_header {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include lg {
        display: none;
    }
}
.my_name {
    font-size: 30px;
    font-family: roboto medium, sans-serif;
    flex: 1 1 auto;
}
.hello {
        font-family: $robotobold;
        font-size: 20px;
}

.my_foto {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.social_link {
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
    img {
        height: 30px;
        width: auto;
    }
}

.nav {
    @include lg {
        display: none;
    }
}
.list_menu {
    line-height: 2;

    a {
        text-decoration: none;
        font-size: 20px;
        font-family: $robotomedium;
        color: #fff;
    }
}

.show_menu {
    display: flex;
    height: 100%;
    padding: 20px;

    animation: 1s show ease;

    @keyframes show {
    from { opacity: 0; }
    to { opacity: 1; }
    }
}

.show_cont_mobile {
    
    display: flex;
    // padding: 60px;
    
}




main {
    padding-left: 290px;
    font-size: 20px;
    background-color: #ebe8e8;

    @include lg {
        padding-left: 0;
        padding-top: 80px;
    }
}

.hero {
    padding: 50px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;

    @include md {
        padding: 30px;
    }

    @include sm {
        padding: 15px;
    }
}

.wrapper_hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    @include md {
        flex-direction: column-reverse;
    }
}

.hero_content {
    width: 70%;

    @include md {
        width: 100%;
    }
}

h2 {
    font-size: 32px;
    font-family: $robotomedium;
    padding-bottom: 30px;
}
.foto_hero {
    width: 30%;

    @include md {
        width: 70%;
    }
    
    img {
        width: 100%;
    }
}

.skill {
    padding: 50px;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    @include xl {
        align-items: flex-start;
    }

    @include lg {
        flex-direction: column;
    }

    @include md {
        padding: 30px;
    }

    @include sm {
        padding: 15px;
    }
}
.skill_content {
    padding: 30px 0 30px;
}
.skill_list {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    align-items: baseline;
}

.skill_item {
    text-align: center;
    font-family: $robotobold;

    &:hover{
        
        filter: saturate(2) contrast(1.5);
    }
}

.project {
    width: 100%;
    height: 100%;
    padding: 50px;

    @include md {
        padding: 30px;
    }

    @include sm {
        padding: 15px;
    }
}

.slider_project {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.btn_left {
    display: none;

    img {
        width: 30px;
        height: 30px;
    }

    @include md {
        display: block;
    }
}

.btn_right {
    display: none;

    img {
        width: 30px;
        height: 30px;
    }

    @include md {
        display: block;
    }
}

.project_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}
.project_item {
    max-width: 500px;
    border: 1px solid #000;
    padding: 10px;
    display: block;

    p {
        padding-bottom: 20px;
    }

    img {
        width: 100%;
        border: 2px solid #c8c8c8;
    }

    @include md {
        display: none;
    }
}

.hidden_item {
    display: none;
}
.show_slider {
    display: block;
}

.contact {
    padding-left: 300px;
    font-size: 20px;
    height: auto;
    background-color: #bcb5b5;

    @include lg {
        padding-left: 0;
    }
}

.wrapper_contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
    gap: 20px;

    @include md {
        flex-direction: column;
        gap: 50px;
        padding: 30px;
    }

    @include sm {
        padding: 15px;
    }
}
.contact_content {
}
.contact_link {
    padding-top: 20px;
    justify-content: left;

    @include md {
        justify-content: center;
        flex-wrap: wrap;
    }

    // @include xs {
        
    // }
}
.form_contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    input {
        width: 300px;
        height: 30px;
        font-size: 20px;
        padding: 5px 10px;
        border: 1px solid #000;

        @include xs {
            width: 100%;
        }
    }

    textarea {
        width: 300px;
        font-size: 20px;
        padding: 5px 10px;
        border: 1px solid #000;

        @include xs {
            width: 100%;
        }
    }
}

.btn_sub {
    width: 150px;
    font-size: 20px;
    border-radius: 15px;
    padding: 5px 10px;
    border: 1px solid #000;
}